<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
     <add name="MEU_DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\stags2018\treinamento2018\Treinamento.DataAccess\SQL\database\treinamento.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="caminhoJSON" value="c:\Treinamento\itens.json"/> 
  </appSettings>
</configuration>
